<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="Catering App, Freelance Full Stack Web Developer">
  <meta name="keywords" content="Portfolio, Freelance Developer, UCBX Coding Bootcamp">
  <meta name="author" content="Catherine Chan, Sean Cooper, Reena Mahapatra, and Danny Nguyen">
  <title>Catering App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../../public/styles/styles.css" type="text/css">


  <!--*********************** THIS IS ALL FOR BOOTSTRAP DATEPICKER***********************-->
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css">
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../js/jquery.js"></script> 

  

</head>

<body>
  {{{body}}}
</body>

</html>
