<div class="barrier">
    <div class="container" style="margin-top:5%">
        <div class="text-center">
            <h2 id="newFormHeader">Create a New Event</h2>
        </div>
    </div>
    <div class="container" style="margin-top:5%">
        <hr>
        <div class="row">
            <div class="col-6">
                <!-- New Event Form begins-->
                <form>
                    <div class="form-group">
                        <label>Name for event</label>
                        <input type="text" class="form-control" id="newEventName" placeholder="Event name goes here..">
                    </div>
                    <div class="form-group">
                        <label>Name of contact</label>
                        <input type="text" class="form-control" id="newContactName" placeholder="Contact name goes here..">
                    </div>
                    <label>Event Description</label>
                    <textarea class="form-control" id="newEventDescription" rows="3"></textarea>
                </form>
            </div>
            <div class="col-6">
                <!-- This is the date-picker form from bootstrap -->
                <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
                <div class="bootstrap-iso">
                    <div class="container" id="notTooWide">
                        <div class="row">
                            <div class="col-6 col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding:0px; margin-top:3px">
                                <form method="post">
                                    <div class="form-group">
                                        <label class="control-label " for="date">
                                            Date
                                        </label>
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar">
                                                </i>
                                            </div>
                                            <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY"
                                                type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Additional Information</label>
                    <textarea class="form-control" id="newEventAdditional" rows="3"></textarea>
                </div>
            </div><!-- col-6 end-->
        </div>
        <!-- This will be where we add rows of new Food selections -->
        <hr>
        <div class="row newRow"></div>
        <br>
        <button class="btn btn-secondary" type="submit" id="newFoodRow">Add Item <i class="fa fa-spinner fa-spin loading"></i></button>
        <button class="btn btn-secondary" type="submit" id="newEventSubmit">Submit <i class="fa fa-spinner fa-spin loading"></i></button>
    </div>
    <footer class="footer text-center" id="main-footer">
        <p>Copyright &copy; 2018, Catherine Chan, Sean Cooper, Reena Mahapatra, and Danny Nguyen</p>
    </footer>
</div>