<header>
  <div class="header">
    <h1 class="text-center">Welcome</h1>
  </div>
</header>

<div class="row">
  <div class="col-md-6 approved">
    <h2>Approved Events</h2>
    <!-- We will use jQuery in our JS Script to dynamically insert approved events in this div -->
    <div id="approved-display">
      <p>Mr Jones' Wedding</p>
      <button class="btn btn-secondary update" type="submit">Update</button>
      <button class="btn btn-secondary view" type="submit">View</button>

      <p>Celebration of Life</p>
      <button class="btn btn-secondary update" type="submit">Update</button>
      <button class="btn btn-secondary view" type="submit">View</button>

      <p>90th Birthday</p>
      <button class="btn btn-secondary update" type="submit">Update</button>
      <button class="btn btn-secondary view" type="submit">View</button>
    </div>
  </div>

  <div class="col-md-6 pending">
    <h2>Pending Events</h2>

    <!-- We will use jQuery in our JS Script to dynamically insert pending events in this div -->
    <div id="pending-display">

      <p>Some Event</p>
      <button class="btn btn-secondary view" type="submit">View</button>

      <p>Another Event</p>
      <button class="btn btn-secondary view" type="submit">View</button>
    </div>
  </div>
  
</div>

<div class="row">
  <button class="btn btn-primary" type="submit" id="create">NEW EVENTS</button>
</div>

<footer class="footer text-center" id="main-footer">
  <p>Copyright &copy; 2018, Catherine Chan, Sean Cooper, Reena Mahapatra, and Danny Nguyen</p>
</footer>
