<div class="container">
    <div class="row">
        <!--  This first row just contains event title-->
        <div class="col-12">
        <div class="text-center top-header">
            <h3 id="eventName"></h3>
        </div>
        </div>
    </div>
    <!-- Event Info will be loaded here-->
    <div class="row">
        <div class="col-6">
            <p>Contact Name:</p>
            <p id="contactName"></p>
            <p>Description:</p>
            <p id="eventDescription"></p>

        </div>
        <div class="col-6">
            <p>Event Date:</p>
            <p id="eventDate"></p>
            {{!-- <p id="eventTime">6:30 PM</p>
            <p id="eventLocation">Main Dining Room</p> --}}
        </div>
    </div>

    <!-- Table with each item/amount and cost will be generated here-->
    <div class="container" style="margin-top:2%">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Food Item</th>
                <th scope="col">Servings Requested</th>
                <th scope="col">Total Price</th>
            </tr>
            </thead>
            <tbody id="orderList"></tbody>
        </table>
    <hr>

    <!-- Going to add another text input here for additional info-->
    <!-- Also going to calculate and display total price of items here-->
    <div class="container">
    <div class="row">
        <div class="col-6">
            <p>Additional Info:</p>
            <p id ="eventAdditionalInfo"></p>
        </div>
        <div class="col-6">
            <p>Total Price for Event:</p>
            <p id ="eventTotalCost"></p>
        </div>
    </div>
    <button class="btn btn-secondary approve" type="submit">Approve</button>
    <button class="btn btn-secondary cancel" type="submit">Cancel</button>
</div>

