.list-group-item {
  line-height: 2.5;
}

.approved {
  margin-left: 20px;
}

.pending {
  margin-right: -20px;
}

.event {
  border: 10px lightgray solid;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

#create {
  margin: 50px auto;
}

h1{
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  color: white;
}

.holder{
  height: 750px;
  border-color: #ff9900;
  background: url("../img/footer.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

#center {
  margin-top: 70px;
  margin: auto;
  border-style: solid;
  border-color: #ff9900;
  text-align: center;
  width: 335px;
  height: 160px;
  background-blend-mode: lighten;
  color: white;
  font-size: 25px;
}
p {
  text-align: center;
  margin: auto;
}

#main-footer {
  font-size: 10px;
}

.btn-default { 
  min-width: 180px; 
} 

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p .bootstrap-iso form {
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

.bootstrap-iso form button, .bootstrap-iso form button:hover {
  color: white !important;
}

.asteriskField {
  color: red;
}