html, body{
  height: 100%;
}

body{
  font-family: 'Nanum Myeongjo', serif;
  background-image:url("../images/Ramen.jpg");
}

h3{
  margin: 40px 0;
}

.approve, .cancel, .update, .view, #newEventSubmit, #newFoodRow {
  background-color: #565061;
}

.barrier {
  background-color: white;
  border: 1px black solid;
  margin: 50px 100px;
  padding: 10px 50px 50px 50px;
}
.btn-default { 
  min-width: 180px; 
}

.container{
  width: 960px;
  background-color: white;
  margin:auto;
}

.list-group-item {
  line-height: 2.5;
}

#create {
  margin: 20px auto;
  background-color: #565061;
}

#date, #updatedate {
  width:410px;
}

#date-div {
  width:10px;
}

#main-footer {
  font-size: 10px;
  padding: 15px 0;
  margin-top: 100px;
}